<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cn.bo.mapper.customer.CustomerMapper">
	<!-- mysql -->
	<resultMap type="Customer" id="cusMap">
		<id property="id" column="id"/>
		<result property="cusid" column="cusid"/>
		<result property="cusname" column="cusname"/>
		<result property="phone" column="phone"/>
		<result property="address" column="address"/>
		<result property="brithday" column="brithday"/>
		<result property="email" column="email"/>
		<result property="destric" column="destric"/>
		<result property="updateTime" column="updatetime"/>
		<result property="lastTime" column="lasttime"/>
	</resultMap>
	
	<select id="getCustomerList" parameterType="map" resultMap="cusMap">
		select B.* FROM
		(select A.*, ROWNUM R FROM
		(SELECT * FROM sp_customer
		<trim prefix="where" prefixOverrides="AND|OR">
			<if test="cusid != null and cusid != ''">
				cusid like '%'||#{cusid}||'%'
			</if>
			<if test="cusname != null and cusname != ''">
				cusname like '%'||#{cusname}||'%'
			</if>
		</trim>
		<![CDATA[
		)A
		WHERE ROWNUM <= #{end} )B
		WHERE R > #{start} 
		]]>
	</select>
	
	<select id="getCustomerListCount" parameterType="map" resultType="int">
		select count(*) from sp_customer
		<trim prefix="where" prefixOverrides="AND|OR">
			<if test="cusid != null and cusid != ''">
				cusid like '%'||#{cusid}||'%'
			</if>
			<if test="cusname != null and cusname != ''">
				cusname like '%'||#{cusname}||'%'
			</if>
		</trim>
	</select>
	
	<insert id="insertCust" parameterType="map" >
		insert into sp_customer(
			cusid,
			cusname,
			phone,
			address,
			brithday,
			email,
			destric,
			updatetime,
			lasttime
		)values(
			#{cusid},
			#{cusname},
			#{phone},
			#{address},
			#{brithday},
			#{email},
			#{destric},
			sysdate(),
			sysdate()
		)
	</insert>
	<select id="getList" parameterType="map" resultMap="cusMap">
		select * from sp_customer
	</select>
	<select id="select" parameterType="map" resultMap="cusMap">
		select * from sp_customer where CUSID = 'A1001'
	</select>
</mapper> 